<head>
	<title>ticket race test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>


<body>
	{{> main}}
</body>

<template name="main">
	<div class="container">
		<div class="row">
			<div ng-controller="SeatsCtrl">
				<h1 style="cursor:pointer;color:#[[client_color]];" ng-click="changeColor()">Buyer: [[username]]</h1>
				<h3>Attempted: [[desired]]</h3>
				<h3>Confirmed: [[confirmed]]</h3>
				<h3 ng-click="getTotal()" style="cursor:pointer;">Total locked: [[total]]</h3>
				<h5>Orders: #[[qty.length]] of each: 
					<label ng-repeat="q in qty">[[q.qty]], </label> tickets
				</h5>
				<p>Next auto buy at: <label ng-bind="next_purchase">Not Set</label></p>
				<button ng-click="restart()">Reset and Set all clients to start in 1 minute</button>
				<br><br>
				<input type="text" ng-model="username" value="" size="20">
				<button ng-click="start()" ng-if="username.length">
					Manually start buying
				</button>
				<br><br>
				<div ng-repeat="seat in seats" style="width:100%;">
						<div ng-click="buySeat(seat);" style="height:20px;width:20px;float:left;border:1px solid #000000;margin:1px;background-color:[[seat.color]];">
							<label ng-if="seat.lock">x</label>
						</div>
				</div>
				<button ng-click="mdebug()">debug</button>
			</div>
		</div>
	</div>
</template>